<% include ../widgets/layout %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title">Add News</h4>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Add news</li>
        </ol>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <form action="<%= url  %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="id" value="<%= dat._id %>">
              <label for="title">Title</label>
              <input
                type="text"
                name="title"
                class="form-control"
                id="title"
                value="<%= dat.title %>"
                placeholder="Enter News Title"
              />
            </div>
            <div class="form-group">
              <label for="source">Source</label>
              <input
                type="text"
                name="source"
                class="form-control"
                id="source"
                value="<%= dat.source %>"
                placeholder="Enter Source of News"
              />
            </div>

            <div class="form-group">
              <label for="link">Link</label>
              <input
                type="text"
                name="link"
                class="form-control"
                id="link"
         
                value="<%= newslink %>"
           
                placeholder="Enter News Link"
              />
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <select class="form-control form-control-sm">
                <option>Select Date</option>
                <option>Date Now</option>
                <option>Custom date</option>
              </select>
            </div>

            <div class="form-group">
              <label for="newsdetail">News Detail</label>
              <div
                class="form-control"
                name="detail"
                id="newsdetail"
                placeholder="Enter News Detail"
                rows="7"
              ><%= dat.detail %></div>
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input
                type="file"
                class="form-control-file"
                id="image"
                name="image"
              />
            </div>
            <div class="form-group">
              <label for="image">Sort Order</label>
              <input
                type="number"
                class="form-control-file"
                id="sort"
                value="<%= dat.sortOrder %>"
                placeholder="Sort Order"
                name="sortOrder"
              />
            </div>
            <div class="image-show"><img src="\<%= dat.image %>" alt="" width="100px" height="100px"></div>
            <input type="submit" class="btn btn-primary" value="Post News" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<script type="text/javascript">


var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'], ['image'],       // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']  
                                    // remove formatting button
];
  var options = {
 
  placeholder: 'Compose an epic...',
  readOnly: false,
  theme: 'snow',
  modules:{
  toolbar:toolbarOptions
  }
};
var editor = new Quill('#newsdetail', options);





</script>
<% include ../widgets/footer %>
