<% include ../widgets/layout %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title">Contact</h4>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Contact</li>
        </ol>
        
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <h3>Contact</h3>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Mail</th>
                  <th>Organization</th>
                  <th>Subject</th>
                  <th>Additional</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(dat,i) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= dat.name %></td>
                  <td><%= dat.mail %></td>
                  <td><%= dat.organisation %></td>
                  <td><%= dat.subject %></td>
                  <td><%= dat.additional %></td>
                  <td><%= dat.type %></td>
                
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<% include ../widgets/footer %>
