<% include ../widgets/layout %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title"></h4>
      </div>
      <!-- /.col-lg-12 -->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="row row-in">
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-danger">Articles</h5>
                            <h3 class="counter">5645</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center b-r-none" style="border: 1px solid black">
                            <h5 class="text-muted text-warning">News</h5>
                            <h3 class="counter">4250</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-muted text-purple">Highlights</h5>
                            <h3 class="counter">3450</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">Videos</h5>
                            <h3 class="counter">2500</h3>
                        </div>
                    </div>
                </div>
                <div id="morris-area-chart" style="height: 345px;"></div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<% include ../widgets/footer %>
