<% include ../widgets/layout %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title"></h4>
      </div>
      <!-- /.col-lg-12 -->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="row row-in">
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-danger">Articles</h5>
                            <h3 class="counter"><%= data[0].articleCount %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center b-r-none" style="border: 1px solid black">
                            <h5 class="text-muted text-warning">News</h5>
                            <h3 class="counter"><%= data[0].newsCount %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-muted text-purple">Highlights</h5>
                            <h3 class="counter"><%= data[0].highCount %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">Gallery</h5>
                            <h3 class="counter"><%= data[0].galleryCount %></h3>
                        </div>
                    </div>
                   
                   
                 
                    <div class="col-lg-3 col-sm-6 mt-3">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">Water Footprint Questions</h5>
                            <h3 class="counter"><%= data[0].questionCount %></h3>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">Events</h5>
                            <h3 class="counter"><%= data[0].eventCount %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">User Added</h5>
                            <h3 class="counter"><%= data[0].userCount %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="col-in text-center" style="border: 1px solid black">
                            <h5 class="text-info">User Contacted</h5>
                            <h3 class="counter"><%= data[0].contactCount %></h3>
                        </div>
                    </div>
                </div>
                <div id="morris-area-chart" style="height: 345px;"></div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>

<% include ../widgets/footer %>
