<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
    <link
    href="../../../public/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <link href="../../../public/stylesheets/css/cwtcss.css" rel="stylesheet" />
  
    <title>CWT Admin | Login</title>
  </head>

  <body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 login-form-2">
                <h3>Clean Water Together Admin</h3>
               
                <form action="/authenticate" method="POST">
                  <% if (message)  { %>
                    <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                 
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email *" value="" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value="" name="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                   
                </form>
            </div>
            
  </body>
</html>

