<% include ../widgets/layout %>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-12">
        <h4 class="page-title">Upcoming Event</h4>
        <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li class="active">Events Posted</li>
        </ol>
        <a href="/addevent" class="btn btn-primary">Add Event</a>
        <% if (message) { %>
          <div class="alert alert-success"><%= message %></div>
          <% } %>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <h3>Events Posted</h3>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Events</th>
                  <th>Date Added</th>
                  <th>Date modified</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(dat,i) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= dat.title %></td>
                  <td><%= dat.dateAdded %></td>
                  <td><%= dat.dateModified %></td>
                  <form action="/deleteUpcomingEvent/<%= dat._id %>/1?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="id" value="<%= dat._id %>">
                  <td><button type="submit" class="btn btn-danger" >Delete</button></td>
                </form>
                  <td><a href="/admineditEvent/<%= dat._id %>/1" class="btn btn-primary" >Edit</a></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<% include ../widgets/footer %>
