<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>CWT | ADMIN</title>
    <!-- Bootstrap Core CSS -->
    <link
      href="../../../public/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Menu CSS -->
    <link
      href="../../../public/stylesheets/bower_components/metisMenu/dist/metisMenu.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="../../../public/stylesheets/css/style.css" rel="stylesheet" />
    <link href="../../../public/stylesheets/css/cwtcss.css" rel="stylesheet" />

    <script src="https://cdn.scaleflex.it/plugins/filerobot-image-editor/3/filerobot-image-editor.min.js"></script>

    <!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script> -->
    <script src="https://cdn.tiny.cloud/1/mg1c1q574oc6rk4z0qbf1vml5vdu4wtr773d1sop60bpzqa1/tinymce/5/tinymce.min.js"></script>

    <!-- Theme included stylesheets -->
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.bubble.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Preloader -->
    <div class="preloader">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
      <!-- Navigation -->
      <nav
        class="navbar navbar-default navbar-static-top"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <a
            class="navbar-toggle hidden-sm hidden-md hidden-lg "
            href="javascript:void(0)"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            ><i class="ti-menu"></i
          ></a>
          <div class="top-left-part">
            <a class="logo" href="dashboard.html">
              <img
                src="../../../public/uploads/logo3.png"
                width="15%"
                class="img"
                alt=""
              />&nbsp; <span class="hidden-xs">CWT Admin</span></a
            >
          </div>
          <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li>
              <a
                href="javascript:void(0)"
                class="open-close hidden-xs hidden-lg waves-effect waves-light"
                ><i class="ti-arrow-circle-left ti-menu"></i
              ></a>
            </li>
          </ul>
          <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
              <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <label class="hidden-xs"><%= user %></label>
                  <img
                    src="../../../public/uploads/user.png"
                    alt="user-img"
                    width="36"
                    class="img-circle"/><span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile/<%= id %>">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
      </nav>
      <div class="navbar-default sidebar nicescroll" role="navigation">
        <div class="sidebar-nav navbar-collapse ">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
              <div class="input-group custom-search-form">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="ti-search"></i>
                  </button>
                </span>
              </div>
            </li>
            <li>
              <a href="/home" class="waves-effect"
                ><i class="glyphicon glyphicon-fire fa-fw"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="/users" class="waves-effect"
                ><i class="ti-user fa-fw"></i>Users</a
              >
            </li>
            <li>
              <a href="/adminnews/1" class="waves-effect"
                ><i class="ti-layout fa-fw"></i>News</a
              >
            </li>

            <li>
              <a href="/adminKnowledge/1" class="waves-effect"
                ><i class="ti-location-pin fa-fw"></i>Water Footprint</a
              >
            </li>
            <li>
              <a href="/adminarticle/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Articles</a
              >
            </li>
            <li>
              <a href="/adminhighlights/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Highlights</a
              >
            </li>
            <li>
              <a href="/events/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Events</a
              >
            </li>
            <li>
              <a href="/gallery/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Gallery</a
              >
            </li>
            <li>
              <a href="/contactus/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Contact</a
              >
            </li>
            <!-- <li>
              <a href="/adminbloggerarticle/1" class="waves-effect"
                ><i class="ti-files fa-fw"></i>Blogger Articles</a
              >
            </li> -->
            <li>
              <a href="/about" class="waves-effect"
                ><i class="ti-info fa-fw"></i>About
              </a>
            </li>
          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- Page Content -->

      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../../public/stylesheets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../public/stylesheets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../../public/stylesheets/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="../../public/stylesheets/js/jquery.nicescroll.js"></script>
    <!--Wave Effects -->
    <script src="../../public/stylesheets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../../public/stylesheets/js/myadmin.js"></script>
  </body>
</html>
